:host {
  margin-top: calc(-1 * var(--padding-top));
  margin-bottom: calc(-1 * var(--padding-bottom));
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  display: block;
  position: relative;
  ion-toolbar {
    --background: #FFF;
    &:last-of-type {
      --border-width: 0;
    }
    text-align: center;
    padding: 0 1.75rem 0 1rem;
  }
  .header-home-link-icon {
      height: clamp(42px, 5vh, 60px);
  }
  ion-progress-bar {
    position: absolute;
    bottom: 0;
  }
}
