:host {
  ion-toolbar {
    --background: #FFF;
    &:last-of-type {
      --border-width: 0;
    }
    text-align: center;
    padding: 0 1.75rem 0 1rem;
  }
  .header-home-link-icon {
      height: 5vh;
  }
}
