<ion-header>
  <app-global-header></app-global-header>
</ion-header>
<ion-content fullscreen>
  <main class="badges-outer"
        *ngIf="profile$ | async as profile">
    <mystk-page-title>Mes badges</mystk-page-title>
    <div class="badges-preview-list"
         cdkDropList
         (cdkDropListDropped)="drop($event)"
         [cdkDropListDisabled]="(isDevMode$ | async) === false"
         *rxLet="transforms$ as transforms; strategy: 'native'">
      <mystk-badge-card *ngFor="let badge of (badgeList$ | async); last as isLast; count as size; index as idx"
                        cdkDrag
                        [badge]="badge"
                        [profile]="profile"
                        [ngStyle]="{transform: transforms[idx],
                                    top: isLast ? (size - 1) * halfHeaderHeight + 'px' : 0,
                                    'margin-bottom.px': isLast ? (size - 1) * halfHeaderHeight + 16 : 16
                        }"><ion-icon class="badges-preview-list-item-handle"
                                     name="reorder-four-outline"
                                     *ngIf="isDevMode$ | async"
                                     cdkDragHandle></ion-icon></mystk-badge-card>
    </div>
  </main>
</ion-content>
