<ion-header>
  <ion-toolbar>
    <app-global-header></app-global-header>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <main class="badges-outer"
        *ngIf="profile$ | async as profile">
    <mystk-page-title>Mes badges</mystk-page-title>
    <div class="badges-preview-list">
      <mystk-badge-card *ngFor="let badge of (badgeList$ | async); last as isLast; count as size"
                        [badge]="badge"
                        [profile]="profile"
                        [ngStyle]="{transform: badge.transform,
                                    top: isLast ? (size - 1) * halfHeaderHeight + 'px' : 0,
                                    'margin-bottom.px': isLast ? (size - 1) * halfHeaderHeight + 16 : 16
                                  }"></mystk-badge-card>
    </div>
  </main>
</ion-content>
