@use "theme/components/card";
@use "theme/page";

:host {
  @include page.host;
  .badges {
    &-outer {
      @include page.content-wrapper {
        align-content: flex-start;
      };
    }
    &-preview-list {
      min-width: 0;
      position: relative;
      display: flex;
      justify-content: center;
    }
  }
  mystk-badge-card {
    max-width: 400px;
    &:nth-of-type(n-2) {
      position: absolute;
    }
    &:last-of-type {
      position: relative;
    }
  }
}
