<ion-header [translucent]="true">
  <app-global-header></app-global-header>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($any($event))">
    <ion-refresher-content
      refreshingSpinner="crescent"
      refreshingText="Mise à jour...">
    </ion-refresher-content>
  </ion-refresher>
  <mystk-page-title>Actualités</mystk-page-title>
  <ion-spinner *ngIf="loading" name="dots" pager="true"></ion-spinner>
  <ng-container *ngIf="actualities$ | async as actualities">
    <ion-card class="actuality-card" *ngFor="let actuality of actualities; let i = index" (click)="goToDetails(i, actualities)">
      <img *ngIf="!!actuality.thumbnail" [src]="actuality.thumbnail"/>
      <div class="titles-container">
          <div class="actuality-title">{{actuality.title | decodeHtmlEntities}}</div>
          <div class="actuality-date">{{DateHelper.getDateWrittenFr(actuality.created)}}</div>
          <div class="actuality-excerpt">{{actuality.rawtext | decodeHtmlEntities}}</div>
      </div>
    </ion-card>
  </ng-container>


  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadNewActuality($any($event))">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Chargement d'articles...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
