<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>974013671728-ne30rsgrqe7t94pnmsk6eoovot4suunr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974013671728-ne30rsgrqe7t94pnmsk6eoovot4suunr</string>
	<key>API_KEY</key>
	<string>AIzaSyChHOlQv_Uh4VRoAg41dIuwmRwazoDbYys</string>
	<key>GCM_SENDER_ID</key>
	<string>974013671728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stknational.app</string>
	<key>PROJECT_ID</key>
	<string>stk-national</string>
	<key>STORAGE_BUCKET</key>
	<string>stk-national.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974013671728:ios:7946002a0e9d23463500f5</string>
	<key>DATABASE_URL</key>
	<string>https://stk-national.firebaseio.com</string>
</dict>
</plist>