<header [ngClass]="['badge-event', 'badge-event-' + badgeView.timeCategory]"><span>{{badgeView.event}}</span><ng-content select="[cdkDragHandle]"></ng-content></header>
<div class="badge-code">
  <mystk-qrcode-generator [data]="qrCodeData | json"></mystk-qrcode-generator>
</div>
<div class="badge-person">
  <h1 class="badge-person-name">{{badgeView.fullName}}</h1>
  <h2 class="badge-person-location">{{badgeView.location.tafo}}</h2>
  <ul class="badge-person-responsabilities-list"
      *ngIf="(badgeView.responsabilities.length ?? -1) > 0">
    <!-- <ion-chip class="badge-person-responsabilities-item"
              *ngFor="let responsability of badgeView.responsabilities">
      <ion-label>{{responsability}}</ion-label>
    </ion-chip> -->
    <li class="badge-person-responsabilities-item"
        *ngFor="let responsability of badgeView.responsabilities">
      {{responsability}}
    </li>
  </ul>
</div>
<ul class="badge-group-list"
    *ngIf="(badgeView.groups.length ?? -1) > 0">
  <ion-chip class="badge-group-list-item"
            role="listitem"
            color="warning"
            *ngFor="let group of badgeView.groups">
    <ion-label>{{group}}</ion-label>
  </ion-chip>
</ul>
<div class="badge-meals"
     *ngIf="badgeView.meals">
  <ion-icon src="/assets/icon/icon-meal.svg"
            class="badge-icon"></ion-icon><span class="badge-meals-taken">{{
              badgeView.meals ? (badgeView.meals!.total - badgeView.meals!.remaining) : 0
            }}</span> / {{badgeView.meals.total}}
</div>
<div class="badge-room">
  <ion-icon src="/assets/icon/icon-room.svg"
            class="badge-icon"></ion-icon>
  <div class="badge-room-inner">
    <div class="badge-room-building">Bâtiment&nbsp;<span
            class="badge-room-building-value">{{badgeView.room?.building ?? ''}}</span></div>
    <span class="badge-room-floor">{{badgeView.room?.floor ?? ''}}</span>
    <div class="badge-room-id">Chambre&nbsp;<span class="badge-room-id-value">{{badgeView.room?.id ?? ''}}</span></div>
  </div>
  <!-- <ion-icon src="/assets/icon/icon-room.svg"
            class="badge-icon"></ion-icon><span class="badge-room-id">{{badgeView.room}}</span> -->
</div>
