page-presentation {
    .scroll-content {
      background-color: $color-light-grey;
    }
    .presentation-section {
      display: inline-block;
      width: 100%;
      background-color: white;
      padding: 2rem;
      border-left: 2px solid $color-blue-primary;
      margin-bottom: 2rem;

      ion-icon {
        float: right;
        color: $color-blue-primary;
      }

      .presentation-title {
        color: $color-blue-primary;
        font-weight: bold;
      }
    }
    
}
