<ion-header [translucent]="true">
  <ion-toolbar>
    <app-global-header></app-global-header>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <mystk-page-title>STK News</mystk-page-title>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content
      refreshingSpinner="crescent"
      refreshingText="Mise à jour...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col class="stk-news-grid" *ngFor="let stkNews of listOfStkNews" size="6">
        <ion-card class="stk-news-card" (click)="openPdf(stkNews)">
          <div class="news-img">
              <img [src]="stkNews.thumbnails"/>
          </div>
          <div class="news-title">{{stkNews.title | decodeHtmlEntities}}</div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadNewStkNews($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Chargement d'articles...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>


