<ion-header [translucent]="true">
  <ion-toolbar>
    <app-global-header></app-global-header>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page" [fullscreen]="true">
  <mystk-page-title>Spi</mystk-page-title>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content
      refreshingSpinner="crescent"
      refreshingText="Mise à jour...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-spinner *ngIf="loading; else list" name="dots"></ion-spinner>

  <ng-template #list>
    <ng-container *ngIf="partages?.length; else noPartage">
      <ion-card class="card-spi" *ngFor="let partage of partages; let i = index" (click)="goToDetails(i)">
        <div class="card-image-spi">
            <img [src]="partage.thumbnail"/>
        </div>
        <div class='card-content'>
          <div class='title'>
              <div class="card-title">{{partage.title | decodeHtmlEntities}}</div>
              <div class="card-subtitle">{{DateHelper.getDateWrittenFr(partage.creationDate)}}</div>
          </div>
          <div class="play-icon">
            <ion-icon name="play"></ion-icon>
          </div>
        </div>
      </ion-card>

      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadNewPartages($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Chargement d'articles...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
      
    </ng-container>
    <ng-template #noPartage>
      <div class="error-message-page">
        Désolé, les partages n'ont pas pu être récuperés.
      </div>
    </ng-template>
  </ng-template>

</ion-content>
