<ion-header [translucent]="true">
  <ion-toolbar>
    <app-global-header defaultHref="/tabs/spi-tab"></app-global-header>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides pager="false" [options]="slideOpts" (ionSlideDidChange)="ionSlideDidChange()">
    <ion-slide *ngFor="let partage of partages; let index = index;">
        <div class="swipe-content">
            <mystk-page-title>Spi</mystk-page-title>
            <div class="article-container">
              <img [src]="partage.thumbnail"/>
              <div [ngClass]="['article-content', 'article-pos-' + index]">
                <h5>{{DateHelper.getDateWrittenFr(partage.creationDate)}}</h5>
                <h3>{{partage.title}}</h3>
                <mystk-article-embedding-iframe [article]="partage.text"
                                                [isVisible]="(currentIndex$ | async) === index"></mystk-article-embedding-iframe>
              </div>
            </div>
          </div>
    </ion-slide>
  </ion-slides>
</ion-content>
