<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Spi
    </ion-title>
    <ion-buttons slot="end">
      <button ion-button icon-only (click)="goToHome()">
        <ion-icon class="homeMenu" name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides pager="false" [options]="slideOpts">
    <ion-slide *ngFor="let partage of partages">
        <div class="swipe-content">
            <div class="article-container">
              <img [src]="partage.thumbnail"/>
              <div class='article-content'>
                <h5>{{DateHelper.getDateWrittenFr(partage.creationDate)}}</h5>
                <h3>{{partage.title}}</h3>
                <p [innerHTML]="partage.text"></p>
              </div>
            </div>
          </div>
    </ion-slide>
  </ion-slides>
</ion-content>
