<ion-header [translucent]="true">
  <app-global-header></app-global-header>
</ion-header>

<ion-content [fullscreen]="true">
  <mystk-page-title>{{title}}</mystk-page-title>
  <ion-spinner *ngIf="loading; else list" name="dots" pager="true"></ion-spinner>

  <ng-template #list>
    <div>
      <ion-card class="post-card" *ngFor="let post of posts; let i = index" (click)="goToDetails(i)">
        <img *ngIf="!!post.thumbnail" [src]="post.thumbnail" onerror="this.style.display='none'" />
        <div class="titles-container">
          <div class="post-title">{{post.title}}</div>
          <div>{{post.rawtext | decodeHtmlEntities}}</div>
        </div>
      </ion-card>
    </div>
  </ng-template>
</ion-content>
