<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nom de la section (A modifier)
    </ion-title>
    <ion-buttons slot="end">
      <button ion-button icon-only (click)="refresh()">
        <ion-icon class="refresh-button" name="refresh"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons slot="end">
      <button ion-button icon-only (click)="goToHome()">
        <ion-icon class="homeMenu" name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
