<ion-header>

  <ion-navbar>
    <ion-title>Evènements</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="refresh()">
        <ion-icon class="refresh-button" name="refresh"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToHome()">
        <ion-icon class="homeMenu" name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
  
<ion-content>
  <ion-spinner *ngIf="loading; else list" name="dots"></ion-spinner>
  <ng-template #list>
    <ion-row *ngIf="events && events.length; else noEvents">
      <ion-col>
        <div *ngFor="let event of events">
          <ion-item>
              <ion-grid>
                  <ion-row>
                    <ion-col class="col-date" col-2>
                      <div *ngIf="isDateValid(event.startDate)" class="date">
                        <span class="day">{{DateHelper.getDay(event.startDate)}}</span>
                        <span class="month">{{DateHelper.getMonth(event.startDate)}}</span>
                      </div>
                    </ion-col>
                    <ion-col col-10>
                        <h2 class="title">{{event.title}}</h2>
                        <span *ngIf="!isDateValid(event.startDate); else displayDate">No date</span>
                        <ng-template #displayDate>
                          <span *ngIf="DateHelper.getDateFormat(event.startDate) === DateHelper.getDateFormat(event.endDate); else differentDates">
                              {{DateHelper.getHours(event.startDate)}} - {{DateHelper.getHours(event.endDate)}}
                            </span>
                            <ng-template #differentDates>
                              <span *ngIf="isDateValid(event.startDate)">
                                {{DateHelper.getDateFormat(event.startDate)}} - {{DateHelper.getDateFormat(event.endDate)}}
                              </span>
                            </ng-template>
                        </ng-template>
                    </ion-col>
                  </ion-row>
                </ion-grid>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ng-template #noEvents>
      <div class="error-message-page">
        Désolé, l'agenda n'a pas pu être récuperé.
      </div>
    </ng-template>
  </ng-template>
</ion-content>