<ion-header>

  <ion-navbar>
    <ion-title>Partage Spi</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToHome()">
        <ion-icon class="homeMenu" name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-slides [initialSlide]="articleIndex">
        <ion-slide *ngFor="let partage of partages">
            <div class="swipe-content">
                <div class="article-container">
                  <img [src]="partage.thumbnail[0]"/>
                  <div class='article-content'>
                    <h5>{{DateHelper.getDateFormat(partage.creationDate)}}</h5>
                    <h3>{{partage.title}}</h3>
                    <p>{{partage.text}}</p>
                  </div>
                  <img *ngIf='partage.thumbnail[1]' [src]="partage.thumbnail[1]"/>
                </div>
              </div>
        </ion-slide>
      </ion-slides>
  

</ion-content>
