spi-detail-page {
  .article-content {
    padding: 0 2rem;
  }
  img {
    height: 25vh;
    width: 100%;
  }
  h1 {
    margin-bottom: 0;
  }
  h5 {
    margin-top: 0;
    color: darkgray;
  }
  p {
    text-align: justify;
  }
}