<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Présentation
    </ion-title>
    <ion-buttons slot="end">
      <button ion-button icon-only (click)="goToHome()">
        <ion-icon class="homeMenu" name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img *ngIf='presentation.thumbnail' [src]="presentation.thumbnail"/>
  <div class='article-content'>
    <h3>{{presentation.title}}</h3>
    <div [innerHTML]="presentation.text"></div>
  </div>
</ion-content>
