<ion-tabs [environmentInjector]="environmentInjector">

  <ion-tab-bar slot="bottom">
    <ion-tab-button class="home-tab" tab="home">
      <ion-icon class="tab-icon" name="home"></ion-icon>Accueil
    </ion-tab-button>

    <ion-tab-button tab="actualities-tab">
      <ion-icon class="tab-icon" src="../../assets/imgs/actu.svg"></ion-icon>Actualités
    </ion-tab-button>

    <ion-tab-button tab="presentation-tab">
      <ion-icon class="tab-icon" src="../../assets/imgs/presentation.svg"></ion-icon>Présentation
    </ion-tab-button>

    <ion-tab-button tab="spi-tab">
      <ion-icon class="tab-icon" src="../../assets/imgs/spi.svg"></ion-icon>Spi
    </ion-tab-button>

    <ion-tab-button tab="stk-news-tab">
      <ion-icon class="tab-icon" src="../../assets/imgs/stk-news.svg"></ion-icon>STK News
    </ion-tab-button>

    <ion-tab-button tab="agenda-tab">
      <ion-icon class="tab-icon" src="../../assets/imgs/agenda.svg"></ion-icon>Agenda
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
