<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="actualities-tab">
      <img class="tab-icon" src="../../assets/imgs/actu.svg"/>
    </ion-tab-button>

    <ion-tab-button tab="presentation-tab">
      <img class="tab-icon" src="../../assets/imgs/presentation.svg"/>
    </ion-tab-button>

    <ion-tab-button tab="spi-tab">
      <img class="tab-icon" src="../../assets/imgs/spi.svg"/>
    </ion-tab-button>

    <ion-tab-button tab="stk-news-tab">
      <img class="tab-icon" src="../../assets/imgs/stk-news.svg"/>
    </ion-tab-button>

    <ion-tab-button tab="agenda-tab">
      <img class="tab-icon" src="../../assets/imgs/agenda.svg"/>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
