.tab-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.home-tab {
  display: none;
}

ion-tab-bar {
  --background: #19338F;
  img {
    filter: opacity(0.6);
  }
  .tab-selected {
    img {
      filter: opacity(1);
      transform: scale(1.2);;
    }
  }
}

.tab-layout-icon-top.new {
  position: relative;
}

.tab-layout-icon-top.new:before {
  content: '';
  display: block;
  position: absolute;
  text-align: right;
  width: 0.3em;
  height: 0.3em;
  top: 10%;
  right: calc(25% - 0.3em);
  border-radius: 50%;
  border: 0.3em solid red;
  background: red;
}