page-stk-news {
    ion-content {
        background-color: $color-light-grey!important;
    }
    .stk-news-card {
        padding: 1.5rem;
        background-color: white;
        .news-title {
            margin-top: 1rem;
            text-align: center;
            color: $color-blue-secondary;
        }
        .news-img {
            
        }
    }

}
