page-home {

    .verse-container {
        background-color: rgba(0, 0, 0, 0.35);
        background-image: url('../../../assets/imgs/img1-stk-2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        font-size: 18px;
        padding: 5px;
        font-weight: bold;
        color: white;
        width: 100%;
        text-align: center;
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .verse-title {
            font-style: oblique;
            font-weight: bold;
            margin-top: 4rem;
        }
    }
}
