<ion-header [translucent]="true">
  <app-global-header></app-global-header>
</ion-header>

<ion-content [fullscreen]="true">
  <mystk-page-title>{{sectionTitle}}</mystk-page-title>
  <ion-slides pager="false" [options]="slideOpts">
    <ion-slide *ngFor="let post of posts; let i = index">
      <div class="swipe-content">
        <div class="article-container">
          <img *ngIf="!!post.thumbnail" [src]="post.thumbnail" onerror="this.style.display='none'" />
          <div class='article-content'>
            <h5>{{DateHelper.getDateWrittenFr(post.created)}}</h5>
            <h3>{{post.title}}</h3>
            <mystk-article-embedding-iframe [article]="post.fulltext"></mystk-article-embedding-iframe>
          </div>
        </div>
      </div>
      <h1></h1>
      <p></p>
    </ion-slide>
  </ion-slides>
</ion-content>
