<ion-header>
  <app-global-header></app-global-header>
</ion-header>
<ion-content fullscreen="true">
  <section class="login-wrapper">
    <header class="login-header">
      <h1 class="login-h1">Bienvenue 👋</h1>
      <h2 class="login-h2">Connecte-toi à ton profil grâce à tes identifiants</h2>
    </header>
    <form class="login-form"
          [formGroup]="loginForm"
          (submit)="submit()">
      <ion-item>
        <ion-label position="floating">Nom d'utilisateur ou adresse e-mail</ion-label>
        <ion-input formControlName="login" autocomplete="username" type="email" name="username" id="username"></ion-input>
        <ion-note slot="error">{{loginForm.controls.login.errors?.credentials}}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input passwordRevelator
                   [icon]="passwordIcon"
                   clearInput="false"
                   #revelator="revelator"
                   formControlName="password"
                   id="password"
                   type="password"
                   name="password"
                   autocomplete="current-password"></ion-input>
        <ion-note slot="error">{{loginForm.controls.password.errors?.credentials}}</ion-note>
        <ion-icon color="primary" #passwordIcon (click)="revelator.toggle()" slot="end"></ion-icon>
      </ion-item>
      <button style="position: absolute; visibility: hidden; pointer-events: none;"></button>
    </form>
    <div class="login-actions">
      <ion-button expand="block"
                  class="login-actions-connect"
                  [disabled]="loginForm.invalid || (processing$ | async)"
                  (click)="submit()">Se connecter</ion-button>
      <ion-button expand="block"
                  class="login-actions-reset-password"
                  fill="clear"
                  type="button"
                  [routerLink]="['/reset-password']"
                  [state]="$any(resetPasswordNavState$ | async)">Mot de passe oublié ?</ion-button>
    </div>
  </section>

</ion-content>
