<ion-header>
  <ion-toolbar>
    <app-global-header></app-global-header>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
  <section class="login-wrapper">
    <header class="login-header">
      <h1 class="login-h1">Bienvenue 👋</h1>
      <h2 class="login-h2">Connecte-toi à ton profil grâce à tes identifiants</h2>
    </header>
    <form class="login-form"
          [formGroup]="loginForm">
      <ion-item>
        <ion-label position="floating">Nom d'utilisateur ou adresse e-mail</ion-label>
        <ion-input formControlName="login"
                   autofocus></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input type="password"
                   formControlName="password"></ion-input>
      </ion-item>
    </form>
    <div class="login-actions">
      <ion-button expand="block"
                  class="login-actions-connect"
                  [disabled]="loginForm.invalid"
                  (click)="submit()">Se connecter</ion-button>
      <ion-button expand="block"
                  class="login-actions-reset-password"
                  fill="clear"
                  type="button"
                  [routerLink]="['/reset-password']">Mot de passe oublié ?</ion-button>
    </div>
  </section>

</ion-content>
