@use "src/theme/page";
@use "src/theme/components/card";

:host {
  @include page.host;
  --content-gap: 1.5rem;

  .event-article {
    &-outer {
      @include page.content-wrapper;
    }

    &-segment {
      --background: var(--ion-color-light);
      --border-radius: 150px;
      border-radius: var(--border-radius);
      @include card.shadow;
      &-button {
        --indicator-color: var(--ion-color-step-250, var(--ion-background-color, #fff));
        --background-checked: transparent;
        // --border-style: none;
        --border-radius: 150px;
        display: none;
        position: relative;
        border-radius: var(--border-radius);
        overflow: hidden;

        &-ripple {
          margin-left: calc(-1 * var(--padding-start));
          margin-right: calc(-1 * var(--padding-end));
        }

        &-shown {
          display: flex;
        }

        &-label {
          font-size: 0.75rem;
          white-space: normal;
        }

        &.segment-button-checked {
          font-weight: 700;
        }

        ion-skeleton-text {
          --background-rgb: var(--ion-color-primary-rgb);
          width: 12ch;
          height: 2em;
        }
      }
    }

    &-content {
      &-wrapper {
        width: 100%;
        ion-skeleton-text {
          --background-rgb: var(--ion-color-primary-rgb);
          width: 100%;
        }
      }
    }
  }
}
