// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-header {
    background-color: white;
    ion-navbar {
        height: 8vh;
    }
    img {
        height: 5vh;
        margin: 0 1rem;
    }
    .toolbar-background {
        background-color: white
    }
    .toolbar-content {
        display: flex;
        justify-content: center;
    }
}

.ion-ios-actuality-outline,
.ion-ios-actuality,.ion-md-actuality,.ion-md-actuality-outline {
  content: url('../assets/imgs/actu.svg');
}
.ion-ios-presentation-outline,
.ion-ios-presentation,.ion-md-presentation,.ion-md-presentation-outline {
  content: url('../assets/imgs/presentation.svg');
}
.ion-ios-spi-outline,
.ion-ios-spi,.ion-md-spi,.ion-md-spi-outline {
  content: url('../assets/imgs/spi.svg');
}
.ion-ios-stk-news-outline,
.ion-ios-stk-news,.ion-md-stk-news,.ion-md-stk-news-outline {
  content: url('../assets/imgs/stk-news.svg');
}
.ion-ios-custom-agenda-outline,
.ion-ios-custom-agenda,.ion-md-custom-agenda,.ion-md-custom-agenda-outline {
  content: url('../assets/imgs/agenda.svg');
}