<ion-header [translucent]="true">
  <ion-toolbar>
    <app-global-header defaultHref="/tabs/actualities-tab"></app-global-header>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <mystk-page-title>Actualités</mystk-page-title>
  <ion-slides pager="false" [options]="slideOpts">
    <ion-slide *ngFor="let actuality of actualities; let i = index">
      <div class="swipe-content">
          <div class="article-container">
            <img *ngIf="!!actuality.thumbnail" [src]="actuality.thumbnail"/>
            <div class='article-content'>
              <h5>{{DateHelper.getDateWrittenFr(actuality.created)}}</h5>
              <h3>{{actuality.title}}</h3>
              <div [innerHTML]="actuality.text"></div>
            </div>
          </div>
        </div>
      <h1></h1>
      <p></p>
    </ion-slide>
  </ion-slides>
</ion-content>
