<ion-header>
  <ion-toolbar>
    <app-global-header></app-global-header>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="reset-password-wrapper">
    <mystk-page-title>Mot de passe oublié ?</mystk-page-title>
    <form class="reset-password-form"
          [formGroup]="form">
      <div class="reset-password-notice">Merci de renseigner ton e-mail afin d’obtenir
        un mot de passe temporaire pour te connecter&nbsp;:</div>
      <ion-item class="reset-password-form-field">
        <ion-label position="floating">E-Mail</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      <ion-button class="reset-password-form-submit"
                  [disabled]="emailControl?.invalid"
                  (click)="resetPassword()"
                  expand="block">
        Recevoir un mot de passe
      </ion-button>
    </form>
  </div>
</ion-content>
