page-spi {

  .card-spi {
    display: flex;
    flex-direction: column;
    height: 20rem;
    .card-image-spi {
      height: 70%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .card-content {
      width: 100%;
      height: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      padding-left: 2rem;
      .title {
        width: 100%;
        color: $color-blue-primary;
      }
      .card-title {
        font-size: 1.2em;
        font-weight: bold;
      }
      .card-subtitle {
        font-size: 1.0em;
        color: grey;
        font-weight: bold;
      }
      .play-icon {
        height: 100%;
        width: 10rem;
        background-color: $color-blue-secondary;
        display: flex;
        justify-content: center;
        align-items: center;
        ion-icon {
          color: white;
          font-size: 5rem;
        }
      }
    }
  }
 
}
