ion-spinner {
  svg, svg circle {
      fill: white!important;
  }
}

ion-toolbar {
    --background: #FFF;
    text-align: center;
    span img {
        height: 5vh;
    }
}

ion-content {
    --background: #f8f8f8;
}

.verse-container {
  background-color: rgba(0, 0, 0, 0.35);
  background-image: url('../../assets/imgs/img1-stk-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 10px;
  font-weight: bold;
  color: white;
  width: 100%;
  text-align: center;
  min-height: 30vh;
  max-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .verse-title {
      font-style: oblique;
      font-weight: bold;
      margin-top: 4vh;
  }
  .mention {
      font-size: 0.5rem;
      align-self: flex-end;
      color: rgba(white, 0.35);
  }
}
.home-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.button-tag-container {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: space-around;
  padding: 1rem;
  .horizontal-button {
      display: flex;
      align-items: center;
      margin: 0.5rem 0;
      padding: 2rem;
      height: 10vh;
      background-color: white;
      color: #19338F;
      font-size: 16px;
      font-weight: bold;
      box-shadow: 1px 1px 1px 0px #656565;
      border-left: solid 5px #19338F;
      border-radius: 5px;
      span {
          padding-left: 1rem;
      }
      img {
          fill: #19338F;
          height: 4rem;
          width: 4rem;
      }
  }
  .two-buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 0.5rem;
      .button-column {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 45%;
          height: 16vh;
          background-color: #19338F;
          border-radius: 5px;
          padding: 1rem;
          color: white;
          .button-title {
              font-size: 16px;
              font-weight: bold;
              text-align: center;
          }
          .button-text {
              margin-top: 2vh;
              text-align: center;
          }
          &.prime {
              background-color: #19338F;
          }
      }
  }
}