<ion-header [translucent]="false">
  <ion-toolbar>
    <span>
      <img src='assets/imgs/logo_stk.png' (click)="enableDevMode()"/>
      <img src='assets/imgs/stk.jpeg'/>
    </span>
    <ion-buttons *ngIf="isDevMode" slot="end">
      <button ion-button icon-only (click)="quitDevModePopup()">
        <ion-icon class="homeMenu" name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="home-container">
    <div class="verse-container">
      <ion-spinner *ngIf="loading; else verseText" name="dots"></ion-spinner>
      <ng-template #verseText>
        <span>
          {{verse?.verse}}
        </span>
        <span class="verse-title">
          {{verse?.ref}}
        </span>
        <span class="mention">{{verse?.mention}}</span>
      </ng-template>
    </div>
    <div class="button-tag-container">
      <div class="horizontal-button" (click)="goToPage('stk')">
        <img src="assets/imgs/presentation_blue.svg"/>
        <span>Qu'est ce que la STK ?</span>
      </div>
      <div class="horizontal-button" (click)="goToPage('hymne')">
        <img src="assets/imgs/interface.svg"/>
        <span>Hymne STK</span>
      </div>

      <ng-container *ngIf="displayLiveSections; else defaultDisplay">
        <ng-container *ngFor="let liveSection of liveSections">
          
          <div *ngIf="!liveSection.isDevModeOnly || isDevMode" class="horizontal-button" [ngStyle]="{'border-color': getColor(liveSection.themeColor)}" (click)="goToSection(liveSection)">
            <img [attr.src]="liveSection?.themeIcon" />
            <span>{{liveSection?.title}}</span>
          </div>

        </ng-container>
      </ng-container>
      <ng-template #defaultDisplay>
        <div class="two-buttons">
          <div class="button-column" (click)="goToPage('actus')">
            <span class="button-title">
              Actualités STK
            </span>
          </div>
          <div class="button-column prime" (click)="goToPage('partage')">
            <span class="button-title">
              Partage Spi
            </span>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</ion-content>
