<ion-header [translucent]="true">
  <app-global-header></app-global-header>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="home-container">
    <div class="verse-container">
      <ion-spinner *ngIf="loading; else verseText" name="dots"></ion-spinner>
      <ng-template #verseText>
        <span>
          {{verse?.verse}}
        </span>
        <span class="verse-title">
          {{verse?.ref}}
        </span>
        <span class="mention">{{verse?.mention}}</span>
      </ng-template>
    </div>
    <div class="button-tag-container">
      <ion-card class="horizontal-button" [routerLink]="['../presentation-tab']">
        <ion-icon src="assets/imgs/presentation.svg"
                  class="horizontal-button-icon"></ion-icon>
        <span>Qu'est ce que la STK ?</span>
      </ion-card>

      <ng-container *ngIf="displayLiveSections; else defaultDisplay">
        <ng-container *ngFor="let liveSection of liveSections">
          <div *ngIf="!liveSection.isDevModeOnly || (isDevMode$ | async)"
               class="horizontal-button"
               [style.borderColor]="liveSection.themeColor | method:getColor"
               (click)="goToSection(liveSection)">
            <img [attr.src]="liveSection?.themeIcon" />
            <span>{{liveSection?.title}}</span>
          </div>
        </ng-container>
      </ng-container>

      <ng-template #defaultDisplay>
        <div class="two-buttons">
          <ion-card class="button-column" [routerLink]="['../actualities-tab']">
            <span class="button-title">
              Actualités STK
            </span>
          </ion-card>
          <ion-card class="button-column prime" [routerLink]="['../spi-tab']">
            <span class="button-title">
              Partage Spi
            </span>
          </ion-card>
        </div>
      </ng-template>
    </div>
  </div>
</ion-content>
