<ion-header [translucent]="true">
  <app-global-header></app-global-header>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($any($event))">
    <ion-refresher-content
      refreshingSpinner="crescent"
      refreshingText="Mise à jour...">
    </ion-refresher-content>
  </ion-refresher>
  <mystk-page-title>
  Agenda
  <ion-button [ngClass]="{'refresh-button': true, 'refresh-button-disabled': loading}"
              icon-only
              [disabled]="loading"
              fill="clear"
              (click)="refresh()">
    <ion-icon name="refresh" slot="icon-only"></ion-icon>
  </ion-button>
</mystk-page-title>


  <nav class="calendar-nav">
    <!-- Move back one screen of the slides -->
    <ion-button class="calendar-nav-button" fill="clear" (click)="back()">
      <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
    </ion-button>

    <h2 class="calendar-nav-current">{{ currentMonth }}</h2>

    <!-- Move forward one screen of the slides -->
    <ion-button class="calendar-nav-button" fill="clear" (click)="next()">
      <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
    </ion-button>
  </nav>

  <main class="events-calendar-outer">
    <ion-spinner *ngIf="loading"
               name="dots"
               class="events-calendar-spinner"></ion-spinner>
    <calendar
      [ngClass]="{'events-calendar': true, 'events-calendar-loading': loading}"
      [locale]="locale"
      [eventSource]="events"
      [queryMode]="calendar.queryMode"
      [calendarMode]="calendar.mode"
      [currentDate]="calendar.currentDate"
      (onRangeChanged)="calendarViewRangeChanged($event)"
      (onEventSelected)="onEventSelected($any($event))"
      noEventsLabel="Aucun évènement pour ce jour"
      [monthviewEventDetailTemplate]="monthviewEventDetailDir.templateRef"
      [monthviewDisplayEventTemplate]="monthviewDisplayEventSTKTemplate"
      [startingDayMonth]="1"
      >
      </calendar>
  </main>
</ion-content>

<!-- TEMPLATES FOR CALENDAR -->
<ng-template monthViewEventDetail let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel"
             #monthviewEventDetailDir="monthViewEventDetail">
  <ion-list class="event-detail-container" has-bouncing="false" *ngIf="showEventDetail" overflow-scroll="false">
    <div class="no-events-label"
         *ngIf="selectedDate?.events?.length === 0">
      {{noEventsLabel}}
    </div>
     <ion-card class="horizontal-button" *ngFor="let event of selectedDate?.events"
               (click)="onEventSelected($any(event))">
       <span class="monthview-eventdetail-timecolumn">
        {{event | method:computeEventTime}}
       </span>
       <span class="event-detail"> {{event.title | decodeHtmlEntities}}</span>
      </ion-card>

    </ion-list>
  </ng-template>

  <ng-template #monthviewDisplayEventSTKTemplate let-view="view" let-row="row" let-col="col">
    <div [class.with-event]="view.dates[row*7+col].hasEvent">
      {{view.dates[row*7+col].label}}
      <div class="indicator-container">
        <div class="event-indicator" *ngFor="let e of view.dates[row*7+col].events"></div>
      </div>
    </div>
  </ng-template>
