<ion-header [translucent]="true">
  <ion-toolbar>
    <app-global-header></app-global-header>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <mystk-page-title>Agenda</mystk-page-title>
  <ion-spinner *ngIf="loading; else list" name="dots"></ion-spinner>
  <ng-template #list>
    <ion-row>
      <!-- Move back one screen of the slides -->
      <ion-col size="2">
        <ion-button fill="clear" (click)="back()">
          <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col size="8" class="ion-text-center">
        <h2 class="currentMonth">{{ currentMonth }}</h2>
      </ion-col>

      <!-- Move forward one screen of the slides -->
      <ion-col size="2">
        <ion-button fill="clear" (click)="next()">
          <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ng-template #monthviewEventDetailSTKTemplate let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
      <ion-list class="event-detail-container" has-bouncing="false" *ngIf="showEventDetail" overflow-scroll="false">
         <div class="horizontal-button" *ngFor="let event of selectedDate?.events" (click)="onEventSelected(event)">
           <span *ngIf="!event.allDay && DateHelper.getDateFormat(event.startTime) === DateHelper.getDateFormat(event.endTime); else differentDates" class="monthview-eventdetail-timecolumn">
            {{DateHelper.getHours(event.startTime)}} - {{DateHelper.getHours(event.endTime)}}
           </span>
           <ng-template #differentDates>
            <span *ngIf="!event.allDay" class="monthview-eventdetail-timecolumn">
              {{DateHelper.getDateFormat(event.startTime)}} - <br> {{DateHelper.getDateFormat(event.endTime)}}
             </span>
           </ng-template>
           <span *ngIf="event.allDay" class="monthview-eventdetail-timecolumn">Toute la journée</span>
           <span class="event-detail"> {{event.title | decodeHtmlEntities}}</span>
          </div>
          <div class="no-events-label" *ngIf="selectedDate?.events.length==0">
            <span>{{noEventsLabel}}</span>
          </div>
        </ion-list>
      </ng-template>

      <ng-template #monthviewDisplayEventSTKTemplate let-view="view" let-row="row" let-col="col">
        <div [class.with-event]="view.dates[row*7+col].hasEvent">
          {{view.dates[row*7+col].label}}
          <div class="indicator-container">
            <div class="event-indicator" *ngFor="let e of view.dates[row*7+col].events"></div>
          </div>
        </div>
      </ng-template>


    <calendar
      locale="fr-FR"
      [eventSource]="events"
      [currentDate]="calendar.currentDate"
      (onTitleChanged)="onViewTitleChanged($event)"
      (onEventSelected)="onEventSelected($any($event))"
      noEventsLabel="Aucun évènement pour ce jour"
      [monthviewEventDetailTemplate]="monthviewEventDetailSTKTemplate"
      [monthviewDisplayEventTemplate]="monthviewDisplayEventSTKTemplate"
      [startingDayMonth]="1"
      >
      </calendar>
  </ng-template>
</ion-content>



