<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Presentation
    </ion-title>
    <ion-buttons slot="end">
      <button ion-button icon-only (click)="goToHome()">
        <ion-icon class="homeMenu" name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-spinner *ngIf="loading; else list" name="dots"pager="true"></ion-spinner>

  <ng-template #list>
    <div class="presentation-section" *ngFor="let presentation of presentations; let i = index" 
      (click)="goToDetails(presentation.id)">
      <span class="presentation-title">{{presentation.title}}</span>
      <ion-icon name="arrow-forward"></ion-icon>
    </div>
  </ng-template>
</ion-content>
