<ion-header [translucent]="true">
  <ion-toolbar>
    <app-global-header></app-global-header>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <mystk-page-title>Présentation</mystk-page-title>
  <ion-spinner *ngIf="loading; else list" name="dots"pager="true"></ion-spinner>

  <ng-template #list>
    <div>
      <ion-card class="presentation-section" *ngFor="let presentation of presentations; let i = index"
      (click)="goToDetails(presentation)">
      <span class="presentation-title">{{presentation.title}}</span>
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-card>
    </div>
  </ng-template>
</ion-content>
