<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Agenda
    </ion-title>
    <ion-buttons slot="end">
      <button ion-button icon-only (click)="goToHome()">
        <ion-icon class="homeMenu" name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-spinner *ngIf="loading; else eventContent" name="dots"pager="true"></ion-spinner>

  <ng-template #eventContent>
    <div class='article-content'>
      <h3>{{event.title}} </h3>
      <br>
      <div>
        <span *ngIf="isDateValid(event.endTime); else uniqueDate">
          <span *ngIf="DateHelper.getDateFormat(event.startTime) === DateHelper.getDateFormat(event.endTime); else differentDates">
            Le  <strong>{{DateHelper.getFrenchWeekDay(event.startTime)}} {{DateHelper.getDateWrittenFr(event.startTime)}} </strong> de {{DateHelper.getHours(event.startTime)}} à {{DateHelper.getHours(event.endTime)}}
          </span>
          <ng-template #differentDates>
            Du <strong>{{DateHelper.getFrenchWeekDay(event.startTime)}} {{DateHelper.getDateWrittenFr(event.startTime)}} </strong>  à {{DateHelper.getHours(event.startTime)}} 
            au  <strong>{{DateHelper.getFrenchWeekDay(event.endTime)}} {{DateHelper.getDateWrittenFr(event.endTime)}}</strong>  à {{DateHelper.getHours(event.endTime)}}
          </ng-template>

        </span>
        <ng-template #uniqueDate>
          Le  <strong>{{DateHelper.getFrenchWeekDay(event.startTime)}} {{DateHelper.getDateWrittenFr(event.startTime)}} </strong> à {{DateHelper.getHours(event.startTime)}}
        </ng-template>
      </div>
      <br>
      <img *ngIf='event.thumbnail' [src]="event.thumbnail"/>
      <div [innerHTML]="removeHtmlLink(event.text)"></div>
    </div>
  </ng-template>
</ion-content>
