<ion-header [translucent]="true">
  <ion-toolbar>
    <app-global-header defaultHref="/tabs/agenda-tab"></app-global-header>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <mystk-page-title>Évènement</mystk-page-title>
  <ion-spinner *ngIf="loading; else eventContent" name="dots"pager="true"></ion-spinner>


  <ng-template #eventContent>
    <ion-slides pager="false" [options]="slideOpts">
      <ion-slide *ngFor="let event of events">
        <div class="swipe-content">
          <div class="article-container">
            <div class='article-content'>
              <h3>{{event.title}} </h3>
              <br>
              <div>
                <span *ngIf="event.startTime.getTime() != event.endTime.getTime(); else uniqueDate">
                  <span *ngIf="DateHelper.getDateFormat(event.startTime) === DateHelper.getDateFormat(event.endTime); else differentDates">
                    Le  <strong>{{DateHelper.getFrenchWeekDay(event.startTime)}} {{DateHelper.getDateWrittenFr(event.startTime)}} </strong> de {{DateHelper.getHours(event.startTime)}} à {{DateHelper.getHours(event.endTime)}}
                  </span>
                  <ng-template #differentDates>
                    Du <strong>{{DateHelper.getFrenchWeekDay(event.startTime)}} {{DateHelper.getDateWrittenFr(event.startTime)}} </strong>  à {{DateHelper.getHours(event.startTime)}}
                    au  <strong>{{DateHelper.getFrenchWeekDay(event.endTime)}} {{DateHelper.getDateWrittenFr(event.endTime)}}</strong>  à {{DateHelper.getHours(event.endTime)}}
                  </ng-template>

                </span>
                <ng-template #uniqueDate>
                  Le  <strong>{{DateHelper.getFrenchWeekDay(event.startTime)}} {{DateHelper.getDateWrittenFr(event.startTime)}} </strong> à {{DateHelper.getHours(event.startTime)}}
                </ng-template>
              </div>
              <br>
              <img *ngIf='event.thumbnail' [src]="event.thumbnail"/>
              <div [innerHTML]="event.text"></div>
            </div>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </ng-template>
</ion-content>
